/* Sidebar Search Area */
#sidebar {
  padding: 20px
}

#finding-fido-logo {
  max-width: 90%;
}

#find-fido-button {
    margin-left: 15%;
    margin-top: 10%;
  }

  /* Search Results Cards */
.card {
  background-color: #92E0E4;
  margin: 20px;
}

.card-title {
  font-weight: bold;
}

.card-link {
  font-size: small;
  
}

.card-body {
  font-family: Rubik;
}

.card-img-top {
  padding-top: 10px;
}

.list-group-item {
  background-color: #92E0E4;
}

/* Favorites Section */
.footer {
    background-color: #92E0E4;
    padding-bottom: 200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}