/* Sidebar Search Area */
#sidebar {
  padding: 20px
}

img {
  max-width: 90%;
}

#find-fido-button {
    margin-left: 15%;
    margin-top: 10%;
  }

  /* Search Results Cards */
.card {
  background-color: #92E0E4;
  margin: 10px;
}

.container {
  padding: 10px;
}

#card-wrapper {
  
}

#card-container {
  padding: 40px;
  margin: 5px;
}

.card-title {
  font-weight: bold;
}

.card-link {
  font-size: small;
  flex-direction: column;
}

.card-body {
  font-family: Rubik;
  padding: 5px;
}

.card-img-top {
  padding-top: 10px;
}

.list-group-item {
  background-color: #92E0E4;
}

.footer {
    background-color: aqua;
    padding-bottom: 200px;