/* Sidebar Search Area */
#sidebar {
  padding: 20px;
}

#finding-fido-logo {
  max-width: 90%;
}

#find-fido-button {
    margin: 1rem; 
  }

#search-header {
    background-color: "#fff";
    box-shadow: "0px 0px 5px 2px rgba(0,0,0,.1)";
    padding: "1rem 0px";
}

  /* Search Results Cards */
.card {
  background-color: #92E0E4;
  margin: 20px;
  min-width: 285px;
  max-width: 285px;
}

.card-title {
  font-weight: bold;
}

.card-link {
  font-size: small;
  
}

.card-body {
  font-family: Rubik;
}

.card-img-top {
  padding-top: 10px;
  width: 250px;
  height: 250px;
  object-fit: cover; 
}

.list-group-item {
  background-color: #92E0E4;
}

/* favorite button styling */
.favoriteDog{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.favoritedDog{
  background-color: white;
  padding: 20px;
}

.favButton{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: .3rem;
}

/* Favorites Section */
.footer {
    background-color: #92E0E4;
    padding-bottom: 200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


